@model ggcvan.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd>
            <img src="@Model.Game.ImageUrl" alt="Alternate Text" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventGuests)
        </dt>
        <dd>
            <ul>
                @foreach (EventGuest item in @Model.EventGuests)
                {
                    <li>@item.Guest.FirstName  @item.Guest.LastName</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
